/* custom component style will be here */

.navbar {
  @apply bg-slate-800 py-3;
}

.navbar .container {
  @apply flex items-center justify-between;
}

.navbar_title {
  @apply flex items-center gap-x-2;
}

.navbar_title-icon {
  @apply w-8 h-fit;
}

.navbar_title-text {
  @apply text-2xl font-semibold;
}

.search_box {
  @apply hidden sm:flex items-stretch flex-shrink;
}

.search_box-field {
  @apply py-1.5 px-3 outline-none ring-2 ring-transparent ring-inset focus:ring-blue-500 duration-300 bg-slate-900/40 rounded-l flex-shrink;
}

.search_box-btn {
  @apply px-3 bg-blue-600 rounded-r flex-shrink-0;
}

.search_box-toggle {
  @apply inline-block sm:hidden px-2.5 py-1.5 bg-blue-600 rounded flex-shrink-0;
}

@media (max-width: 639px) {
  @keyframes showSearch {
    from {
      transform: translateY(-100%);
    }
  }

  .search_box-container.show_search {
    @apply flex flex-row-reverse fixed top-0 left-0 gap-x-2 w-full py-3 container bg-slate-800 justify-center;
    animation: showSearch 0.3s;
  }

  .search_box-container.show_search .search_box {
    @apply flex;
  }

  .search_box-container.show_search .search_box-field {
    @apply w-full;
  }
}

.crypto_card {
  @apply relative p-4 bg-slate-800 rounded overflow-hidden ring-2 ring-transparent hover:ring-blue-600 duration-300 flex flex-col h-full justify-center;
}

.crypto_card.single .crypto_card-header {
  @apply items-center;
}

.crypto_card-rank {
  @apply absolute bottom-0 right-0 px-1.5 py-0.5 bg-blue-600 text-sm inline-block rounded-tl-sm;
}

.crypto_card-header {
  @apply flex gap-x-2;
}

.crypto_card-icon {
  @apply w-12 sm:w-14 h-fit;
}

.crypto_card-title {
  @apply text-xl font-semibold;
}

.crypto_card-subtitle {
  @apply font-medium text-base;
}

.crypto_card-heading {
  @apply text-2xl font-semibold;
}

.crypto_card-subheading {
  @apply text-sm text-slate-300;
}

.crypto_details-header {
  @apply px-5 py-3.5 flex justify-between flex-wrap items-center gap-y-8 gap-x-4 bg-slate-800 rounded-lg
  md:flex-row md:px-8 md:py-5;
}

.crypto_details-title {
  @apply flex items-center gap-x-3;
}

.crypto_details-icon {
  @apply w-12 sm:w-14 h-fit;
}

.crypto_details-title-text {
  @apply text-xl font-semibold sm:text-2xl;
}

.crypto_details-title-changes {
  @apply text-base;
}

.crypto_details-price {
  @apply flex flex-col flex-1 text-right;
}

.crypto_details-price-high {
  @apply text-green-600 font-medium text-base;
}

.crypto_details-price-low {
  @apply text-red-600 font-medium text-base;
}

.crypto_details-market {
  @apply flex flex-col flex-1 text-right;
}

.crypto_details-market-price {
  @apply text-2xl sm:text-3xl font-semibold;
}

.crypto_details-market-cap {
  @apply text-sm sm:text-base font-medium text-slate-500;
}

.crypto_details-sparks {
  @apply mt-10 px-2 py-5 bg-slate-800 rounded-lg;
}

.crypto_details-desc {
  @apply px-4 py-3 bg-slate-800 rounded-lg mt-10 w-full
  sm:px-5 sm:py-3.5 md:px-8 md:py-5;
}

.crypto_details-desc-header {
  @apply flex justify-between items-center;
}

.crypto_details-desc-title {
  @apply text-base font-medium;
}

.crypto_details-desc-text {
  @apply text-base leading-relaxed text-slate-100;
}

.crypto_details-desc-text a {
  @apply text-red-600 hover:text-blue-600 duration-300 font-medium;
}

.crypto_details-desc-icon {
  @apply px-1.5 py-0.5 rounded hover:text-blue-500 hover:bg-slate-900 duration-300;
}

.crypto_card-layout {
  @apply grid gap-4 py-5 px-1 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
}
